<ion-content>
  <ion-title>Changer le nom d'utilisateur</ion-title>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-input [value]="user.username" disabled></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input [(ngModel)]="newUsername" placeholder="Nouveau nom"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="changeUsername()">Valider</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>