<ion-content>
  <ion-list>
    <ion-list-header>
      Mes amis
    </ion-list-header>

    <ion-item *ngFor="let nrFriend of myNonRegFriends">
      <ion-avatar slot="start">
        <img src="./assets/img/user.png">
      </ion-avatar>
      <ion-label>
        <h2>{{nrFriend.surname}}</h2>
        <h3>{{nrFriend.preferences.diet}}</h3>
      </ion-label>
    </ion-item>
    <ion-item *ngFor="let rFriend of myRegFriends">
      <ion-avatar slot="start">
        <img src="./assets/img/user.png">
      </ion-avatar>
      <ion-label>
        <h2>{{rFriend.username}}</h2>
        <h3>{{rFriend.preferences.diet}}</h3>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add" routerLink="/add-friend" routerDirection="forward"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>