<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-title>Changer le mot de passe</ion-title>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input [(ngModel)]="oldPassword" placeholder="Mot de passe actuel"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input [(ngModel)]="newPassword" placeholder="Nouveau mot de passe"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input [(ngModel)]="newPasswordConfirm" placeholder="Confirmation du mot de passe"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="changePassword()">Valider</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>