<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-title>Changer l'adresse email'</ion-title>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input [value]="user.email" disabled></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input [(ngModel)]="newEmail" placeholder="Nouvelle adresse email"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="changeEmail()">Valider</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>