<ion-card>
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col size="9"><img [src]="server + recipe?.image?.path" /></ion-col>
        <ion-col style="align-self: center" text-center>
          <ion-icon size="large" name="checkmark-circle-outline" color="success"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
  <ion-card-header>
    <ion-card-title style="text-align: center;">{{
      recipe.name
    }}</ion-card-title>
  </ion-card-header>
</ion-card>