<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-title text-center>
          {{recipe.name}}
        </ion-title>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <img [src]="server + recipe?.image?.path" />
      </ion-col>
      <ion-grid>
        <ion-grid class="headerGrid">
          <ion-row>
            <ion-col align-self-center class="ion-text-center">
              <ion-text>
                <div *ngFor="let diet of recipe.diets">{{diet.name}}</div>
              </ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col align-self-center class="ion-text-center">
              <ion-text>
                {{recipe.type}}
              </ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col align-self-end class="ion-text-center">
              <ion-text>
                {{recipe.duration}} minutes
              </ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-text-center">
              <ion-icon
                *ngFor="let num of [0, 1, 2, 3, 4]"
                name="trophy"
                [color]="recipe.difficulty>num?'warning':'light'"
              >
              </ion-icon>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-text-center">
              <ion-text>
                {{recipe.numberOfPeople}} personnes
              </ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-grid>
    </ion-row>
    <ion-item-divider> </ion-item-divider>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-list-header>
            <ion-title>Ingrédients</ion-title>
          </ion-list-header>
          <ion-item *ngFor="let ingredient of recipe.ingredients">
            <b
              >{{ingredient.quantity}} {{ingredient.unit}} de
              {{ingredient.food.name}}</b
            >
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-item-divider> </ion-item-divider>
    <ion-row>
      <ion-col>
        <ion-title>Préparation</ion-title>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let stage of recipe.stages">
      <ion-col>
        <p>
          <ion-text color="secondary"
            >{{recipe.stages.indexOf(stage)+1}}.
          </ion-text>
          <ion-text>
            {{stage}}
          </ion-text>
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon
        name="pencil-sharp"
        routerLink="/edit-recipe"
        routerDirection="forward"
      ></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
