<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-title>Préférences alimentaires de {{name}}</ion-title>
      </ion-col>
    </ion-row>
    <app-diet-selector
      style="width: 100%;"
      [diets]="userPref.diets"
      [enabled]="!amAFriend"
    ></app-diet-selector>
    <app-allergy-selector
      style="width: 100%;"
      [preferences]="userPref"
      [enabled]="amAFriend"
    >
    </app-allergy-selector>
    <app-intolerance-selector
      style="width: 100%;"
      [preferences]="userPref"
      [enabled]="amAFriend"
    >
    </app-intolerance-selector>
    <ion-row>
      <ion-col>
        <ion-button (click)="savePreferences()">Valider</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
