<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        Utilisateur de Miallergie ?
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Email de votre ami</ion-label>
          <ion-input [(ngModel)]="newUserFriend.email" type="text" min="3"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button (click)="saveNewUserFriend()">Valider</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item-divider></ion-item-divider>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Sans compte sur Miallergie ?
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Surnom de votre ami</ion-label>
          <ion-input [(ngModel)]="newFriend.surname" type="text" min="3"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-title>Préférences alimentaires</ion-title>
      </ion-col>
    </ion-row>
    <app-diet-selector style="width: 100%;" [preferences]="preferences" [disabled]="false"></app-diet-selector>
    <app-allergy-selector style="width: 100%;" [preferences]="preferences" [enabled]="true">
    </app-allergy-selector>
    <app-intolerance-selector style="width: 100%;" [preferences]="preferences" [enabled]="true">
    </app-intolerance-selector>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button (click)="saveNewFriend()">Valider</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>