<section>
  <ion-text text-center>
    <h1>Profil</h1>
  </ion-text>
  <ion-button expand="block">Nom d'utilisateur</ion-button>
  <ion-button expand="block">Email</ion-button>
  <ion-button expand="block">Changer le mot de passe</ion-button>
</section>
<section>
  <ion-text text-center>
    <h1>Préférences alimentaires</h1>
  </ion-text>
  <ion-button expand="block">Régime alimentaire</ion-button>
  <ion-button expand="block">Allergies alimentaires</ion-button>
  <ion-button expand="block">Intolérances alimentaires</ion-button>
</section>
<section>
  <ion-text text-center>
    <h1>Amis</h1>
  </ion-text>
  <ion-button expand="block">Ajouter le profil d'un ami</ion-button>
  <ion-button expand="block">Voir les amis</ion-button>
</section>
