<ion-content>
  <section>
    <ion-text class="ion-text-center">
      <h1>Profil</h1>
    </ion-text>
    <ion-button expand="block" routerLink="/change-username" routerDirection="forward">Changer le nom
      d'utilisateur</ion-button>
    <ion-button expand="block" routerLink="/change-email" routerDirection="forward">Changer l'adresse email
    </ion-button>
    <ion-button expand="block" routerLink="/change-password" routerDirection="forward">Changer le mot de passe
    </ion-button>
  </section>
  <section>
    <ion-text class="ion-text-center">
      <h1>Mes recettes</h1>
    </ion-text>
    <ion-button expand="block" routerLink="/user-recipes" routerDirection="forward">Voir mes recettes</ion-button>
  </section>
  <section>
    <ion-text class="ion-text-center">
      <h1>Préférences alimentaires</h1>
    </ion-text>
    <ion-button expand="block" routerLink="/change-preferences" routerDirection="forward">Modifier mes préférences
      alimentaires</ion-button>
  </section>
  <section>
    <ion-text class="ion-text-center">
      <h1>Amis</h1>
    </ion-text>
    <ion-button expand="block" routerLink="/friend" routerDirection="forward">Voir les amis</ion-button>
  </section>
</ion-content>