<ion-content>
  <ion-grid>
    <ion-row ion-align-items-center>
      <ion-title text-center>Je cherche</ion-title>
      <ion-searchbar placeholder="Une recette"></ion-searchbar>
    </ion-row>
    <ion-row>
      <ion-col ion-align-items-center
        ><ion-item-divider> </ion-item-divider
      ></ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-title text-center>
          Des idées
        </ion-title>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col ion-align-items-center>
        <ion-list>
          <ion-item>
            <ion-label>
              Entrée
            </ion-label>
            <ion-checkbox> </ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Plat</ion-label>
            <ion-checkbox> </ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Dessert</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-label>Régime alimentaire</ion-label>
            <ion-select value="omnivore" okText="Ok" cancelText="Annuler">
              <ion-select-option value="omnivore">Omnivore</ion-select-option>
              <ion-select-option value="végétarien"
                >Végétarien</ion-select-option
              >
              <ion-select-option value="vegan">Vegan</ion-select-option>
              <ion-select-option value="keto">Keto</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-title>Ingrédients</ion-title>
      <ion-text> To do later </ion-text>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-text
          >Durée de la recette : de {{rangeValue.lower}} à {{rangeValue.upper}}
          minutes {{rangeValue.upper===120? "ou plus":""}}</ion-text
        >
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-range
          debounce="100"
          (ionChange)="changeValue($event.detail.value)"
          [value]="rangeValue"
          dualKnobs="true"
          min="5"
          max="120"
          step="5"
          pin="true"
        >
          <ion-icon size="small" slot="start" name="time"></ion-icon>
          <ion-icon slot="end" name="time"></ion-icon>
        </ion-range>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-label>Difficulté</ion-label>

        <ion-icon
          size="large"
          [(name)]="stars_name[0]"
          (click)="clickOnStar(1)"
        ></ion-icon>
        <ion-icon
          size="large"
          [(name)]="stars_name[1]"
          (click)="clickOnStar(2)"
        ></ion-icon>
        <ion-icon
          size="large"
          [(name)]="stars_name[2]"
          (click)="clickOnStar(3)"
        ></ion-icon>
        <ion-icon
          size="large"
          [(name)]="stars_name[3]"
          (click)="clickOnStar(4)"
        ></ion-icon>
        <ion-icon
          size="large"
          [(name)]="stars_name[4]"
          (click)="clickOnStar(5)"
        ></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-label>Amis présents</ion-label>
            <ion-select multiple="true" okText="Ok" cancelText="Annuler">
              <ion-select-option value="Lucas">Lucas</ion-select-option>
              <ion-select-option value="Kelig">Kelig</ion-select-option>
              <ion-select-option value="Nicolas">Nicolas</ion-select-option>
              <ion-select-option value="Adrien">Adrien</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button>Lancer la recherche</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
