<ion-content>
  <ion-grid>
    <ion-row ion-align-items-center>
      <ion-searchbar
        placeholder="Une recette"
        [(ngModel)]="searchText"
      ></ion-searchbar>
    </ion-row>
    <ion-row>
      <ion-col ion-align-items-center></ion-col>
      <ion-item-divider> </ion-item-divider>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-label>Type de plat</ion-label>
            <ion-select
              multiple="true"
              okText="Ok"
              cancelText="Annuler"
              [(ngModel)]="types"
            >
              <ion-select-option value="Entrée">Entrée</ion-select-option>
              <ion-select-option value="Plat">Plat</ion-select-option>
              <ion-select-option value="Dessert">Dessert</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-label>Régime alimentaire</ion-label>
            <app-diet-selector
              style="width: 100%;"
              [enabled]="true"
              [diets]="diets"
              (result)="onChangeDiets($event)"
            >
            </app-diet-selector>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Ingrédient</ion-label>
          <ionic-selectable
            #ingredientComponent
            placeholder="Ingrédients"
            [(ngModel)]="selectedFoodOptions"
            [items]="foodOptions"
            itemValueField="id"
            itemTextField="name"
            [canSearch]="true"
            [isMultiple]="true"
            (onChange)="onIngredientChange($event)"
          >
          </ionic-selectable>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="selectedFoods.length!==0">
      <ion-chip
        *ngFor="let ingredient of selectedFoods"
        outline
        color="secondary"
      >
        <ion-label>{{ingredient.food.name}}</ion-label>
        <ion-icon
          name="close"
          (click)="deleteIngredient(ingredient)"
        ></ion-icon>
      </ion-chip>
    </ion-row>
    <ion-row>
      <ion-col class="paddingTop">
        <ion-text
          >Durée de la recette : de {{rangeValue.lower}} à {{rangeValue.upper}}
          minutes {{rangeValue.upper===120? "ou plus":""}}</ion-text
        >
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-range
          class="paddingTop"
          debounce="100"
          (ionChange)="changeValue($event.detail.value)"
          [value]="rangeValue"
          dualKnobs="true"
          min="5"
          max="120"
          step="5"
          pin="true"
          color="secondary"
        >
          <ion-icon
            color="dark"
            size="small"
            slot="start"
            name="time"
          ></ion-icon>
          <ion-icon color="dark" slot="end" name="time"></ion-icon>
        </ion-range>
      </ion-col>
    </ion-row>

    <ion-row center>
      <ion-col align-self-center>
        <ion-label>Difficulté</ion-label>
        <ion-icon
          *ngFor="let num of [0, 1, 2, 3, 4]"
          size="large"
          name="trophy"
          [(color)]="diff_name[num]"
          (click)="clickOnDifficulty(num)"
        >
        </ion-icon>
      </ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-label>Amis présents</ion-label>
            <ion-select multiple="true" okText="Ok" cancelText="Annuler">
              <ion-select-option value="Lucas">Lucas</ion-select-option>
              <ion-select-option value="Kelig">Kelig</ion-select-option>
              <ion-select-option value="Nicolas">Nicolas</ion-select-option>
              <ion-select-option value="Adrien">Adrien</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row> -->
    <ion-row>
      <ion-col style="height: 50px;"></ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="clickOnSearch()">
      <ion-icon name="search"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
