<ion-content>
  <ion-grid>
    <ion-row center>
      <ion-col class="ion-text-center" ion-align-items-center>
        <form onsubmit="processForm(event)">
          <ion-list>
            <ion-item>
              <ion-label                 
              position="stacked">Adresse mail</ion-label>
              <ion-input class="input" type="text" name="email" [(ngModel)]="email"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked" >Mot de passe</ion-label>
              <ion-input  class="input" type="password" name="password" [(ngModel)]="password"></ion-input>
            </ion-item>
          </ion-list>
        </form>
      </ion-col>
    </ion-row>
    <ion-row center>
      <ion-col class="ion-text-center" ion-align-items-center>
        <ion-button color="tertiary" (click)="connect(email,password)">Valider</ion-button>
      </ion-col>
    </ion-row>
    <ion-row center>
      <ion-col text-right ion-align-items-center>
        <ion-button
          routerLink="/register"
          routerDirection="forward"
          color="tertiary"
        >
          Inscrivez-vous !
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
