<ion-content class="background">
  <ion-grid class="center">
    <ion-row center>
      <ion-col text-center>
        <form onsubmit="processForm(event)">
          <ion-list>
            <ion-item>
              <ion-label position="stacked">Adresse mail</ion-label>
              <ion-input class="input" type="text"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Pseudonyme</ion-label>
              <ion-input class="input" type="text"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Mot de passe</ion-label>
              <ion-input class="input" type="password"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">
                Confirmation du mot de passe
              </ion-label>
              <ion-input class="input" type="password"></ion-input>
            </ion-item>
          </ion-list>
        </form>
      </ion-col>
    </ion-row>
    <ion-row center>
      <ion-col text-center>
        <ion-button color="tertiary">Valider</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
